<nav class="bc-dark font-light flex-display-end">
    <a href="/new-item" class="nav-item text-align-center font-bold">New Item</a>
    <a href="/profile" class="nav-item text-align-center font-bold">Profile</a>
    <a href="/logout" class="nav-item text-align-center font-bold">Logout</a>
</nav>