<!DOCTYPE html>
<html>
<header>
    <title>Expenditure</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="main.css">
</header>
<body>
    <main>
        <h3>User expenditures</h3>
        <ul id="expedintures"></ul>
        <form>
            <input name="descreption" type="text">
            <input name="spent-ammount" type="number">
        </form>
    </main>
</body>
</html>